<section class="fitness">
	<div class="fitness__container container">
		<h2 class="fitness__title title">Здоровое тело и гармония повсюду</h2>
		<div class="fitness__row">
			<div class="fitness__item">
				<div class="fitness__icon">
					<img src="../../assets/img/rub.svg" alt="money" />
				</div>
				<div class="fitness__body">
					<h3 class="fitness__item-title">
						Фиксированная стоимость подписки
					</h3>
					<span class="fitness__subtitle"
						>Занимайтесь йогой в удовольствие и без лишних
						трат</span
					>
				</div>
			</div>
			<div class="fitness__item">
				<div class="fitness__icon">
					<img src="../../assets/img/human.svg" alt="human" />
				</div>
				<div class="fitness__body">
					<h3 class="fitness__item-title">
						50+ Уроков йоги разных уровней и направлений
					</h3>
					<span class="fitness__subtitle"
						>В компании нашей команды экспертов</span
					>
				</div>
			</div>
			<div class="fitness__item">
				<div class="fitness__icon">
					<img src="../../assets/img/laptop.svg" alt="laptop" />
				</div>
				<div class="fitness__body">
					<h3 class="fitness__item-title">
						Просматривайте видео на любом устройстве
					</h3>
					<span class="fitness__subtitle"
						>Превосходное качество на телефоне или компьютере</span
					>
				</div>
			</div>
			<div class="fitness__item">
				<div class="fitness__icon">
					<img src="../../assets/img/world.svg" alt="world" />
				</div>
				<div class="fitness__body">
					<h3 class="fitness__item-title">
						Занимайтесь где угодно и когда угодно
					</h3>
					<span class="fitness__subtitle"
						>Вы получаете доступ к урокам в режиме 24/7</span
					>
				</div>
			</div>
		</div>
	</div>
</section>
