<section class="compilation">
	<div class="compilation__container container">
		<div class="compilation__text">
			<h2 class="compilation__title title">
				Выбери программу, которая подходит именно тебе
			</h2>
			<span class="compilation__subtitle"
				>На aiogi ты найдешь комплексные программы в зависимости от
				твоего направления и уровня</span
			>
			<a href="" class="compilation__btn btn btn-gray"
				>Выбрать программу</a
			>
		</div>
		<div class="compilation__img">
			<img src="../../assets/img/compilation-bg.jpg" alt="background" />
		</div>
	</div>
</section>
