<section class="aiogi">
	<div class="aiogi__container container">
		<div class="aiogi__img">
			<img src="../../assets/img/aiogi-bg.jpg" alt="aiogi" />
		</div>
		<div class="aiogi__text">
			<h2 class="aiogi__title title">Готовы погрузиться в мир aiogi?</h2>
			<span class="aiogi__subtitle"
				>Неограниченный доступ к библиотеке от 700 рублей в месяц.
				Отменить подписку можно в любой момент</span
			><a href="#" class="aiogi__btn btn-black btn">Оформить подписку</a>
		</div>
	</div>
</section>
